[Unit]
Description=Tftp Server
Requires=tftp.socket
Documentation=man:in.tftpd

[Service]
#ExecStart=/usr/sbin/in.tftpd -s /var/lib/tftpboot
ExecStart=/usr/sbin/in.tftpd -l -v -v -s /tftpboot -m /etc/tftpmapfile4xcat.conf
StandardInput=socket

[Install]
Also=tftp.socket
